# Deep Face Implementation

In [1]:
# imports
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import os
import cv2
from ast import literal_eval

import keras
import tensorflow as tf

In [2]:
from deepface import DeepFace

In [3]:
# file paths
path = os.getcwd()
path = path[:-4]
data_dir = path + "/data/lfw-deepfunneled"

In [4]:
matchPairsTrain, mismatchPairsTrain = pd.read_csv(path + "/data/matchpairsDevTrain.csv"), pd.read_csv(path + "/data/mismatchpairsDevTrain.csv")
matchPairsTest, mismatchPairsTest = pd.read_csv(path + "/data/matchpairsDevTest.csv"), pd.read_csv(path + "/data/mismatchpairsDevTest.csv")

In [5]:
def getImg(name, num):
    imgPath = data_dir + '/' + name + '/' + name + '_' +  "{:04d}".format(num) + '.jpg'
    img = cv2.imread(imgPath)
    img = cv2.resize(img, (299, 299))
    return img

def matchPairs(X):
    df = X.copy(deep=False)
    imageCol1, imageCol2 = [], []
    #facenetCol = []
    for _ , person in df.iterrows():
        name = person["name"]
        img1, img2 = person.imagenum1, person.imagenum2
        img1, img2 = getImg(name, img1), getImg(name, img2)
        #facenet_result = DeepFace.verify(img1, img2, model_name='Facenet')
        imageCol1.append(img1)
        imageCol2.append(img2)
        #facenetCol.append(facenet_result['verified'])
    df["image1"] = imageCol1
    df["image2"] = imageCol2
    #df["Facenet"] = facenetcol
    return df

def mismatchPairs(X):
    df = X.copy(deep=False)
    imageCol1, imageCol2 = [], []
    #facenetCol = []
    for _ , person in df.iterrows():
        name, name1 = person["name"], person["name.1"]
        img1, img2 = person.imagenum1, person.imagenum2
        img1, img2 = getImg(name, img1), getImg(name1, img2)
        #facenet_result = DeepFace.verify(img1, img2, model_name='Facenet')
        imageCol1.append(img1)
        imageCol2.append(img2)
        #facenetCol.append(facenet_result['verified'])
    df["image1"] = imageCol1
    df["image2"] = imageCol2
    #df["Facenet"] = facenetcol
    return df

In [6]:
matchPairsTrain = matchPairs(matchPairsTrain)
matchPairsTest = matchPairs(matchPairsTest)
mismatchPairsTrain = mismatchPairs(mismatchPairsTrain)
mismatchPairsTest = mismatchPairs(mismatchPairsTest)

In [7]:
matchPairsTest.tail()

,name,imagenum1,imagenum2,image1,image2
495,Winona_Ryder,6,15,"[[[8, 3, 0], [8, 3, 0], [7, 2, 0], [7, 2, 0], ...","[[[0, 0, 3], [0, 0, 3], [0, 0, 3], [0, 0, 3], ..."
496,Winona_Ryder,19,21,"[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...","[[[0, 0, 6], [0, 0, 4], [0, 0, 3], [0, 0, 2], ..."
497,Yevgeny_Kafelnikov,3,4,"[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...","[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ..."
498,Yoriko_Kawaguchi,3,10,"[[[247, 221, 205], [247, 221, 205], [247, 221,...","[[[0, 0, 4], [0, 0, 3], [0, 0, 1], [1, 0, 0], ..."
499,Zoran_Djindjic,3,4,"[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...","[[[0, 0, 0], [0, 0, 0], [0, 0, 1], [0, 0, 1], ..."

In [8]:
mismatchPairsTest.tail()

,name,imagenum1,name.1,imagenum2,image1,image2
495,Susan_Whelan,1,Wolfgang_Schneiderhan,1,"[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...","[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ..."
496,Takeo_Fukui,1,Will_Ofenheusle,1,"[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...","[[[2, 0, 0], [2, 0, 0], [2, 0, 0], [2, 0, 0], ..."
497,Tamara_Mowry,1,Zach_Parise,1,"[[[0, 2, 0], [146, 157, 155], [196, 210, 208],...","[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ..."
498,Tatiana_Kennedy_Schlossberg,1,Thomas_Watjen,1,"[[[0, 2, 0], [0, 1, 0], [1, 0, 0], [3, 0, 0], ...","[[[5, 0, 0], [5, 0, 0], [5, 0, 0], [5, 0, 0], ..."
499,Todd_Petit,1,Vicente_Fernandez,3,"[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...","[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ..."

In [9]:
match_example = matchPairsTest.iloc[0]
match_example

name                                              Abdullah_Gul
imagenum1                                                   13
imagenum2                                                   14
image1       [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...
image2       [[[12, 52, 94], [10, 50, 92], [9, 48, 90], [8,...
Name: 0, dtype: object

In [10]:
mismatch_example = mismatchPairsTest.iloc[0]
mismatch_example

name                                                  AJ_Lamas
imagenum1                                                    1
name.1                                             Zach_Safrin
imagenum2                                                    1
image1       [[[7, 2, 1], [6, 1, 0], [10, 4, 5], [8, 4, 4],...
image2       [[[0, 2, 0], [0, 2, 0], [0, 2, 0], [0, 2, 0], ...
Name: 0, dtype: object

In [11]:
result = DeepFace.verify(
  match_example.image1,
  match_example.image2,
    model_name="Facenet"
)

In [12]:
result

{'verified': True,
 'distance': 0.13906303002911458,
 'threshold': 0.4,
 'model': 'Facenet',
 'detector_backend': 'opencv',
 'similarity_metric': 'cosine',
 'facial_areas': {'img1': {'x': 77,
   'y': 78,
   'w': 144,
   'h': 144,
   'left_eye': (177, 133),
   'right_eye': (122, 133)},
  'img2': {'x': 76,
   'y': 79,
   'w': 147,
   'h': 147,
   'left_eye': (177, 133),
   'right_eye': (121, 133)}},
 'time': 1.07}

In [13]:
result = DeepFace.verify(
  mismatch_example.image1,
  mismatch_example.image2,
    model_name="Facenet"
)

In [14]:
result

{'verified': False,
 'distance': 0.7437982107089207,
 'threshold': 0.4,
 'model': 'Facenet',
 'detector_backend': 'opencv',
 'similarity_metric': 'cosine',
 'facial_areas': {'img1': {'x': 75,
   'y': 77,
   'w': 146,
   'h': 146,
   'left_eye': None,
   'right_eye': None},
  'img2': {'x': 81,
   'y': 82,
   'w': 139,
   'h': 139,
   'left_eye': (172, 132),
   'right_eye': (126, 134)}},
 'time': 0.3}

In [15]:
result['verified']

False

In [16]:
result['distance']

0.7437982107089207

In [30]:
matches, mismatches = [], []
matchTr_error = []

In [31]:
for _ , person in matchPairsTrain.iterrows():
    try:
        result = DeepFace.verify(person.image1, person.image2, model_name="Facenet")
    except ValueError:
        matchTr_error.append(_)
        continue
    matches.append(result['verified'])

In [32]:
matches = pd.DataFrame(matches, columns=["Result"])

In [35]:
len(matches[matches.Result == True]) / len(matches)

0.6495726495726496